@media only screen and (min-width: 500px) and (max-width: 700px){

    
*{
    margin:0px;
    padding:0px;
    display:block;
    text-decoration:none;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial,       sans-serif;
    font-size: 14px;
    list-style-type:none;
    list-style:none;    
}

#bigwrapper{
	background-color: orange;
	width:1100px;
    height:1000px;
	margin-left:auto;
	margin-right:auto;
	-moz-box-shadow: 0 0 5px 5px #888;
	-webkit-box-shadow: 0 0 5px 5px#888;
	box-shadow: 0 0 5px 5px #888;
}


#logoId{

    float:left;
    height:100px;
    width:300px;
    margin-top:30px;
    margin-left:30px;
    background-image: url(logo.png);
    background-repeat: no-repeat;
    background-size: 200px 50px;
    /*border:2px solid black;*/
}

#regLogin{
    
    float:right;
    height:20px;
    width:100px;
    /*border:2px solid black;*/
    margin-top:45px;
    margin-right:600px;
    color:green;  
}

#regLogin>a{
	color:green;
	display:inline;
}



.button{
    background-color: #4a954a;
    border-color: #4a954a; 
    background-image: url(search.png);
    background-repeat: no-repeat;
    background-size: 25px 26px;
    width: 30px;
    margin:0px;
    padding-bottom:9px;
    padding-top:4px;
	cursor:pointer;
}


form {
    width:200px;
    margin:50px auto;
    width:230px;
    margin-left:375px;
    position:absolute;
    top:125px;
    height:40px;
}

.search {
   padding:8px 15px;
   border:0px solid #dbdbdb;
}


#footer{
   
    text-align:center;
    color:green;
    padding-bottom:10px;
    padding-top:5px;
    position:relative;
    top:620px;
	left:-500px;
}
#footer>a{
color:green;
display:inline;
}

#mainDiv{
    border:2px solid black;
    display:block;
    position:relative;
    top:180px;
    height:350px;
    width:550px;
    margin-left:50px;
}


#leftInfo{
    
    border:2px solid black;
    height:400px;
    width:550px;
    float:left;
    margin-top:206px;
    margin-left:50px;
}

#rangeBy{
    height:30px;
    color:green;
    padding-top:10px;
    text-align:center;
	color:green;
	font-weight:bold;  
}

#restourantDisplay{
    height:340px;
    margin-top:20px;
    overflow:scroll;
}

#restourantPos{
    height:150px;
    width:285px;
    margin-top:15px;
    margin-left:20px;
}

#imageRest{
height:130px;
width:140px;
background-color:grey;
}

/* Main Display Style */

#imagePos{
float:left;
height:180px;
width:200px;
position:relative;
background-color:grey;
border:2px solid red;
left:-80px;
}

#restNameMainDisp{
float:right;
border:2px solid black;	
height:20px;
width:150px;
margin-right:80px;
margin-top:-35px;
display:inline;
color:green;
font-weight:bold;
text-align:center;
padding-top:10px;
padding-bottom:10px;
}

#ratingMainDisp{
float:right;
border:2px solid black;	
height:10px;
width:150px;
margin-right:80px;
margin-top:20px;
color:green;
font-weight:bold;
font-size:20px;
text-align:center;
padding-top:10px;
padding-bottom:10px;

}

#descriptionMainDisp{
float:right;
border:2px solid black;	
height:100px;
width:200px;
margin-right:10px;
margin-top:20px;
color:green;
padding-top:10px;
padding-bottom:10px;
overflow-y: scroll;
overflow-x: scroll;
display:inline;
padding-right:10px;
padding-left:10px;
}

#findUsMainDisp{
height:60px;
width:150px;
margin-top:10px;
margin-left:40px;
float:left;
text-align:right;
color:red;
text-decoration: underline;
display:inline;
}

a{
color:red;
}

#gpsPic{
float:left;
}


#suggId{
color:green;
font-weight: bold;
text-align: center;
float:right;
margin-top:15px;
}

    
    
 /*Responsive for Maps*/
 


#bigwrapperMap{
    background-color: orange;
	width:1100px;
    height:1050px;
	margin-left:auto;
	margin-right:auto;
	-moz-box-shadow: 0 0 5px 5px #888;
	-webkit-box-shadow: 0 0 5px 5px#888;
	box-shadow: 0 0 5px 5px #888;
    margin-top:-20px;
}
    
    
#mainDivMap{
    border:2px solid black;
    display:block;
    position:relative;
    top:154px;
    height:400px;
    width:500px;
    margin-left:60px;
    
}


#leftInfoMap{
    
    border:2px solid black;
    height:400px;
    width:500px;
    float:right;
    margin-top:180px;
    margin-right:535px;
    
}

#imagePosMap{

height:310px;
width:400px;
background-color:grey;
margin-left:50px;
margin-top:20px;
}

#instagMapDesc{
    
    height:30px;
    color:green;
    padding-top:10px;
    text-align:center;
	font-weight:bold;
    position:relative;
    left:-130px;
    
}

#footerMap{
   
    color:green;
    padding-bottom:10px;
    padding-top:5px;
    position:relative;
    top:-50px;
	left:230px;
}

 /* End of Resposive for Map*/
    
}

@media only screen and (min-width: 0px) and (max-width: 500px){
    
*{
    margin:0px;
    padding:0px;
    display:block;
    text-decoration:none;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial,       sans-serif;
    font-size: 14px;
    list-style-type:none;
    list-style:none;    
}

#bigwrapper{
	background-color: pink;
	width:1100px;
    height:1000px;
	margin-left:auto;
	margin-right:auto;
	-moz-box-shadow: 0 0 5px 5px #888;
	-webkit-box-shadow: 0 0 5px 5px#888;
	box-shadow: 0 0 5px 5px #888;
}


#logoId{

    float:left;
    height:100px;
    width:300px;
    margin-top:30px;
    margin-left:30px;
    background-image: url(logo.png);
    background-repeat: no-repeat;
    background-size: 200px 50px;
    /*border:2px solid black;*/
}

#regLogin{
    
    float:right;
    height:20px;
    width:100px;
    /*border:2px solid black;*/
    margin-top:45px;
    margin-right:600px;
    color:green;  
}

#regLogin>a{
	color:green;
	display:inline;
}



.button{
    background-color: #4a954a;
    border-color: #4a954a; 
    background-image: url(search.png);
    background-repeat: no-repeat;
    background-size: 25px 26px;
    width: 30px;
    margin:0px;
    padding-bottom:9px;
    padding-top:4px;
	cursor:pointer;
}


form {
    width:200px;
    margin:50px auto;
    width:230px;
    margin-left:375px;
    position:absolute;
    top:125px;
    height:40px;
}

.search {
   padding:8px 15px;
   border:0px solid #dbdbdb;
}


#footer{
   
    text-align:center;
    color:green;
    padding-bottom:10px;
    padding-top:5px;
    position:relative;
    top:620px;
	left:-500px;
}
#footer>a{
color:green;
display:inline;
}

#mainDiv{
    border:2px solid black;
    display:block;
    position:relative;
    top:180px;
    height:350px;
    width:550px;
    margin-left:50px;
}


#leftInfo{
    
    border:2px solid black;
    height:400px;
    width:550px;
    float:left;
    margin-top:206px;
    margin-left:50px;
}

#rangeBy{
    height:30px;
    color:green;
    padding-top:10px;
    text-align:center;
	color:green;
	font-weight:bold;  
}

#restourantDisplay{
    height:340px;
    margin-top:20px;
    overflow:scroll;
}

#restourantPos{
    height:150px;
    width:285px;
    margin-top:15px;
    margin-left:20px;
}

#imageRest{
height:130px;
width:140px;
background-color:grey;
}

/* Main Display Style */

#imagePos{
float:left;
height:180px;
width:200px;
position:relative;
background-color:grey;
border:2px solid red;
left:-80px;
}

#restNameMainDisp{
float:right;
border:2px solid black;	
height:20px;
width:150px;
margin-right:80px;
margin-top:-35px;
display:inline;
color:green;
font-weight:bold;
text-align:center;
padding-top:10px;
padding-bottom:10px;
}

#ratingMainDisp{
float:right;
border:2px solid black;	
height:10px;
width:150px;
margin-right:80px;
margin-top:20px;
color:green;
font-weight:bold;
font-size:20px;
text-align:center;
padding-top:10px;
padding-bottom:10px;

}

#descriptionMainDisp{
float:right;
border:2px solid black;	
height:100px;
width:200px;
margin-right:10px;
margin-top:20px;
color:green;
padding-top:10px;
padding-bottom:10px;
overflow-y: scroll;
overflow-x: scroll;
display:inline;
padding-right:10px;
padding-left:10px;
}

#findUsMainDisp{
height:60px;
width:150px;
margin-top:10px;
margin-left:40px;
float:left;
text-align:right;
color:red;
text-decoration: underline;
display:inline;
}

a{
color:red;
}

#gpsPic{
float:left;
}


#suggId{
color:green;
font-weight: bold;
text-align: center;
float:right;
margin-top:15px;
}

    
    
 /*Responsive for Maps*/
 
*{ padding:0px;
    margin:0px;}

#bigwrapperMap{
    background-color: yellow;
	width:1100px;
    height:850px;
    margin-top:-20px;
   
}
    
    
#mainDivMap{
    border:2px solid black;
    display:block;
    position:relative;
    top:154px;
    height:300px;
    width:400px;
    margin-left:20px;
    
}


#leftInfoMap{
    
    border:2px solid black;
    height:300px;
    width:400px;
    float:left;
    margin-top:180px;
    margin-left:20px;
    
}

#imagePosMap{

height:210px;
width:300px;
background-color:grey;
margin-left:50px;
margin-top:20px;
}

#instagMapDesc{
    
    height:30px;
    width:500px;
    color:green;
    padding-top:10px;
    text-align:center;
	font-weight:bold;
    position:relative;
    left:-210px;
    displau:inline;
    
}

#footerMap{
   
    color:green;
    padding-bottom:10px;
    padding-top:5px;
    position:relative;
    top:-50px;
	left:150px;
}

 /* End of Resposive for Map*/
    


}

@media only screen and (min-width: 0px) and (max-width: 350px){


        
*{
    margin:0px;
    padding:0px;
    display:block;
    text-decoration:none;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial,       sans-serif;
    font-size: 14px;
    list-style-type:none;
    list-style:none;    
}

#bigwrapper{
	background-color: orange;
	width:1100px;
    height:1000px;
	margin-left:auto;
	margin-right:auto;
	-moz-box-shadow: 0 0 5px 5px #888;
	-webkit-box-shadow: 0 0 5px 5px#888;
	box-shadow: 0 0 5px 5px #888;
}


#logoId{

    float:left;
    height:100px;
    width:300px;
    margin-top:30px;
    margin-left:30px;
    background-image: url(logo.png);
    background-repeat: no-repeat;
    background-size: 200px 50px;
    /*border:2px solid black;*/
}

#regLogin{
    
    float:right;
    height:20px;
    width:100px;
    /*border:2px solid black;*/
    margin-top:45px;
    margin-right:600px;
    color:green;  
}

#regLogin>a{
	color:green;
	display:inline;
}



.button{
    background-color: #4a954a;
    border-color: #4a954a; 
    background-image: url(search.png);
    background-repeat: no-repeat;
    background-size: 25px 26px;
    width: 30px;
    margin:0px;
    padding-bottom:9px;
    padding-top:4px;
	cursor:pointer;
}


form {
    width:200px;
    margin:50px auto;
    width:230px;
    margin-left:375px;
    position:absolute;
    top:125px;
    height:40px;
}

.search {
   padding:8px 15px;
   border:0px solid #dbdbdb;
}


#footer{
   
    text-align:center;
    color:green;
    padding-bottom:10px;
    padding-top:5px;
    position:relative;
    top:620px;
	left:-500px;
}
#footer>a{
color:green;
display:inline;
}

#mainDiv{
    border:2px solid black;
    display:block;
    position:relative;
    top:180px;
    height:350px;
    width:550px;
    margin-left:50px;
}


#leftInfo{
    
    border:2px solid black;
    height:400px;
    width:550px;
    float:left;
    margin-top:206px;
    margin-left:50px;
}

#rangeBy{
    height:30px;
    color:green;
    padding-top:10px;
    text-align:center;
	color:green;
	font-weight:bold;  
}

#restourantDisplay{
    height:340px;
    margin-top:20px;
    overflow:scroll;
}

#restourantPos{
    height:150px;
    width:285px;
    margin-top:15px;
    margin-left:20px;
}

#imageRest{
height:130px;
width:140px;
background-color:grey;
}

/* Main Display Style */

#imagePos{
float:left;
height:180px;
width:200px;
position:relative;
background-color:grey;
border:2px solid red;
left:-80px;
}

#restNameMainDisp{
float:right;
border:2px solid black;	
height:20px;
width:150px;
margin-right:80px;
margin-top:-35px;
display:inline;
color:green;
font-weight:bold;
text-align:center;
padding-top:10px;
padding-bottom:10px;
}

#ratingMainDisp{
float:right;
border:2px solid black;	
height:10px;
width:150px;
margin-right:80px;
margin-top:20px;
color:green;
font-weight:bold;
font-size:20px;
text-align:center;
padding-top:10px;
padding-bottom:10px;

}

#descriptionMainDisp{
float:right;
border:2px solid black;	
height:100px;
width:200px;
margin-right:10px;
margin-top:20px;
color:green;
padding-top:10px;
padding-bottom:10px;
overflow-y: scroll;
overflow-x: scroll;
display:inline;
padding-right:10px;
padding-left:10px;
}

#findUsMainDisp{
height:60px;
width:150px;
margin-top:10px;
margin-left:40px;
float:left;
text-align:right;
color:red;
text-decoration: underline;
display:inline;
}

a{
color:red;
}

#gpsPic{
float:left;
}


#suggId{
color:green;
font-weight: bold;
text-align: center;
float:right;
margin-top:15px;
}

    
    
 /*Responsive for Maps*/
 


#bigwrapperMap{
    background-color: pink;
	width:400px;
    height:750px;
	margin-left:auto;
	margin-right:auto;
	-moz-box-shadow: 0 0 5px 5px #888;
	-webkit-box-shadow: 0 0 5px 5px#888;
	box-shadow: 0 0 5px 5px #888;
    margin-top:-20px;
}
    
    
#mainDivMap{
    border:2px solid black;
    display:block;
    position:relative;
    top:154px;
    height:250px;
    width:270px;
    margin-left:20px;
    
}


#leftInfoMap{
    
    border:2px solid black;
    height:250px;
    width:270px;
    float:left;
    margin-top:180px;
    margin-left:20px;
    
}

#imagePosMap{

height:180px;
width:220px;
background-color:grey;
margin-left:27px;
margin-top:10px;
}

#instagMapDesc{
    
    height:30px;
    width:500px;
    color:green;
    padding-top:10px;
    text-align:center;
	font-weight:bold;
    position:relative;
    left:-260px;
    displau:inline;
    
}

#footerMap{
   
    color:green;
    padding-bottom:10px;
    padding-top:5px;
    position:relative;
    top:-50px;
	left:80px;
}

}